[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
flake8 = "*"

[packages]
requests = "==2.22.0"
gitpython = "==3.0.2"
packaging = "==19.2"
boto3 = "==1.9.233"
PyGithub= "==1.43.8"

[requires]
python_version = "3.7"
